.main{
   
    background-color: rgba(129, 101, 101, 0.29);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1520px;
}
.text2{
    
    padding-left:800px;
 }
 .sub{
    background-color: rgb(192, 245, 245);
    height: 600px;
    width: 1520px;
}
.text{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 34px;
    padding-top: 50px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
   
    
}
.box1{
    background-color:rgba(251, 228, 228, 1);
    height: 378px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow:rgba(244, 110, 110, 0.73) 10px 13px 4px;
    
}
.circle1{
    background-color: rgb(210, 205, 208);
    height: 120px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    left: 95px;
    

}

.para1{
    height: 120px;
    width: 140px;
    position: relative;
    left: 95px;
    overflow-wrap: break-word;
      
}

.box2{
    background-color:rgba(251, 228, 228, 1);
    height: 378px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    box-shadow:rgba(244, 110, 110, 0.73) 10px 13px 4px;
    
    
}

.circle2{
    background-color: rgb(210, 205, 208);
    height: 120px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    left: 95px;
}

.para2{
    height: 120px;
    width: 140px;
    position: relative;
    left: 95px;
    overflow-wrap: break-word;
}

.box3{
    background-color:rgba(251, 228, 228, 1);
    height: 378px;
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    box-shadow:rgba(244, 110, 110, 0.73) 10px 13px 4px;
    


}
.circle3{
    background-color: rgb(210, 205, 208);
    height: 120px;
    width: 140px;
    border-radius: 50%;
    position: relative;
    left: 95px;
}

.para3{
    height: 120px;
    width: 140px;
    margin: 0px;
    position: relative;
    left: 95px;
    overflow-wrap: break-word;
}
    